@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: #f2f2f2;
}

footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    background-color: #fff;
    height:100px;
} 
.dropdown-toggle {
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
    
}
.nav-book{
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
    
}

.navbar-header img {
   
    margin-left: 0;
    height: 80px;
}

.row.show {
    margin-top: 10vh;
}


.example {/*親div*/
  position: relative;/*相対配置*/
  
  margin-bottom: 10vh;
  }

.example p {
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 45px;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
}
.example a:not(.control) {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  }
img.d-block{
    height:700px;
}
.button span {
     display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.button span:hover{
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.button a:hover{
    color: white;
}


  .button {
  display: inline-block;
  padding: .65em 3em;
  background: -webkit-linear-gradient(#fe5f95 , #ff3f7f);
  background: linear-gradient(#fe5f95 , #ff3f7f);
  border: 1px solid #fe3276;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.button span {
  position: relative;
  display: inline-block;
  padding-left: 1.6em;
}
.button span::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: '\002764';
  color: #fff;
  font-size: 20px;
  line-height: 1;
  -webkit-animation: icon 1.5s ease-in-out infinite;
  animation: icon 1.5s ease-in-out infinite;
}
@-webkit-keyframes icon {
  50% { -webkit-transform: scale(1.2); }
}
@keyframes icon {
  50% { transform: scale(1.2); }
}


.card-title.caption.show-more{
  
    font-size: 20px;
}

 

.btn-success {
    background-color: #ed486f;
    border-color: white;
}


.logo {
    text-decoration: none;
    color: #666;
}

.search {
    margin-bottom: 20px;
}

/* item */


.book.card.bg-dark {
	width:			200px;
	height:			250px;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
}
.card .caption {
	font-size:		100%;
	text-align: 	center;
	color:			#fff;
	padding-top: 35px;
	
}
.card .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.card:hover .mask {
	opacity:		1;	/* マスクを表示する */

}

.want-users{
    margin-bottom: 30px;
}

.book .buttons form {
    display: inline-block;
    margin: 0 5px;
}

.user-profile .name {
    margin-bottom: 20px;
}
.user-profile .name h1 {
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}
.user-profile .status ul {
    margin: 0 auto 10px;
    padding: 0;
    display: table;
}
.user-profile .status ul li {
    width: 120px;
    padding: 5px 0;
    border-right: 1px solid #ddd;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #777;
}
.user-profile .status ul li:last-child {
    border: none;
}
.user-profile .status ul li .status-label {
    font-size: 12px;
}
.user-profile .status ul li .status-value {
    font-size: 18px;
}


.card-footer{
    background-color: #E6E6E6;
}

.card.show-more{	
    width:280px;
	height:	350px;
    
}

.card.whole{
    
}


.card-header.whole strong{
    font-size: 30px;
    border-bottom: .5rem solid #E94E1B;
}


strong{
 font-size: 30px;
    border-bottom: .5rem solid #E94E1B;
}

